{% extends "templates/web.html" %}

{% block page_content %}

<h1 class = "font-size-5xl">{{ title }}</h1>

<p class = "hero-subtitle">{{ starts_on }}</p>

<div class = "ql-editor read-mode">
    <p>{{ description }}</p>
</div>

<a class="btn btn-primary" href = "https://navari.navari.co.ke/event-registration/">Register</a>
<button class="btn btn-secondary" onclick = "createICS( '{{ starts_on }}', '{{ ends_on }}', '{{ subject }}', '{{ meeting_link }}')">Download ics file</button>
<button class="btn btn-secondary" onclick = "addEventToGoogleCalendar('{{ subject }}', '{{ meeting_link }}', '{{ starts_on }}', '{{ ends_on }}');
">Add event to calendar</button>

<div class="row">
	       
    <div class="mt-4 col-6 col-sm-4 col-lg-2 text-center">
        <img class = "card card-md w-100 speaker-image" alt = "Event speaker image" src = "{{ speaker }}">
        <h6 class="speaker-name mt-2">{{ speaker_name }}</h6>
        <p class="text-muted speaker-designation" style="font-size: 0.875rem">
            {{ speaker_title }}
            <br />
            {{ speaker_company }}
        </p>
    </div>

</div>

<script>
    function addEventToGoogleCalendar(title, meeting_link, startDateTime, endDateTime) {
        let linkTag = '<a href="' + meeting_link + '">' + meeting_link + '</a>'
        let startDateObj = new Date(startDateTime)

        let start = formatTime(startDateObj)
        let end = ''
    
        if (endDateTime != 'None') {
            let endDateObj = new Date(endDateTime)
            end = formatTime(endDateObj)
        } else {
            // event end time is not provided, default to one hour.
            end = calculateEndTime(startDateObj)
        }
        
        const params = new URLSearchParams({
            action: 'TEMPLATE',
            text: title,
            details: linkTag,
            dates: `${start}/${end}`
        })

        const link = `https://www.google.com/calendar/render?${params}`

        window.open(link)
    }

    function formatTime(date) {
        return date.toISOString().replace(/-|:|\.\d+/g, '')
    };

    function createICS(startDateTime, endDateTime, title, meeting_link) {
        let startDateObj = new Date(startDateTime)

        let start = formatTime(startDateObj)
        let end = ''

        if (endDateTime != 'None') {
            let endDateObj = new Date(endDateTime)
            end = formatTime(endDateObj)
        } else {
            end = calculateEndTime(startDateObj)
        }

        let linkTag = '<a href="' + meeting_link + '">' + meeting_link + '</a>'

        let icsString = 
            "BEGIN:VCALENDAR\n" +
            "VERSION:2.0\n" +
            "BEGIN:VEVENT\n" +
            "DTSTART:" + start + "\n" +
            "DTEND:" + end + "\n" +
            "SUMMARY:" + title + "\n" +
            "DESCRIPTION:" + linkTag + "\n" +
            "END:VEVENT\n" +
            "END:VCALENDAR\n"

        let blob = new Blob([icsString], {type: "text/calendar;charset=utf-8"})
        let url = URL.createObjectURL(blob)

        // Download the file
        let link = document.createElement("a")
        link.setAttribute("href", url)
        link.setAttribute("download", title + ".ics")
        link.style.display = "none"
        document.body.appendChild(link)
        link.click()
        document.body.removeChild(link)
    }

    function calculateEndTime(startTime) {
        // no of mins * MS_IN_MINUTES converts them to milisecs
        var MS_IN_MINUTES = 60 * 1000;

        return formatTime(new Date(startTime.getTime() + (60 * MS_IN_MINUTES)))
    };

</script>
{% endblock %}